/* app css stylesheet */

.body {
  background-color: #AAAAAA;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn-green {
  background-color: green;
  color: white;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-gray {
  background-color: #777777;
  color: white;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-block {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #EBEBEB;
  border-radius: 5px;
  border: 1px;
  border-color: #000088;
}

.header {
  font-size: 140%;
  font-weight: bold;
}

.icon-big {
  font-size: x-large;
}

.div-btn {
  border:1px solid green;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;"
}
.input-reps{
  width: 50px;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 4px;
  text-align: center;
}
.input-comment{
  width: 100%;
  height: 100px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
.last-reps{
  width: 50px;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 4px;
  background-color: #AAAAAA;
  text-align: center;
}

.btn-watch{
  width: 100%;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 4px;
  background-color: #AAAAAA;
  text-align: center;
}
.btn-last{
  width: 100%;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 4px;
  background-color: #AAAAAA;
  text-align: center;
  float:left;
}
.btn-next{
  width: 100%;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 4px;
  background-color: #AAAAAA;
  text-align: center;
  float:right;
}
#startSet{
  background-color: Red;
}
